html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#viz {
  display: flex;
  flex-wrap: wrap;
}

.selected {
  padding: 10px;
  margin: 10px;
  background-color: rgba(#c3413d, 0.40);
}

#map {
  width: auto;
  height: 400px;
}
